html,
body {
   height: 100%;
   margin: 0;
   padding: 0;
   overflow: hidden;
}

body {
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#06dece+0,5cb8b2+38,1e958e+100 */
   background: rgb(6, 222, 206);
   /* Old browsers */
   background: -moz-linear-gradient(top, rgb(6, 222, 206) 0%, rgb(92, 184, 178) 38%, rgb(30, 149, 142) 100%);
   /* FF3.6-15 */
   background: -webkit-linear-gradient(top, rgb(6, 222, 206) 0%, rgb(92, 184, 178) 38%, rgb(30, 149, 142) 100%);
   /* Chrome10-25,Safari5.1-6 */
   background: linear-gradient(to bottom, rgb(6, 222, 206) 0%, rgb(92, 184, 178) 38%, rgb(30, 149, 142) 100%);
   /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#06dece', endColorstr='#1e958e', GradientType=0);
   /* IE6-9 */
   text-align: center;
   font-family: 'Do Hyeon', sans-serif;
}

.main {
   width: 100%;
   max-width: 780px;
   margin: auto;
}

h1 {
   text-shadow: 6px 3px 11px #793FAA,
   3px 5px 11px #330B54,
   6px 3px 1px #fff;
   font-size: 45px;
   color: #DBB5FB;
}

h2 {
   color: #531258;
   font-size: 20px;
}

.elements {
   position: relative;
   width: 100%;
   max-width: 360px;
   margin: auto;
}


a {
   text-decoration: none;
   outline: none;
   display: inline-block;
   padding: 20px 30px;
   margin: 10px 20px;
   position: relative;
   color: white;
   border: 1px solid rgba(255, 255, 255, .4);
   background: none;
   font-weight: 300;
   font-family: 'Montserrat', sans-serif;
   text-transform: uppercase;
   letter-spacing: 2px;
}

a:before,
a:after {
   content: "";
   position: absolute;
   width: 0;
   height: 0;
   opacity: 0;
   box-sizing: border-box;
}

a:before {
   bottom: 0;
   left: 0;
   border-left: 1px solid white;
   border-top: 1px solid white;
   transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
}

a:after {
   top: 0;
   right: 0;
   border-right: 1px solid white;
   border-bottom: 1px solid white;
   transition: 0s ease opacity .4s, .2s ease width, .2s ease height .2s;
}

a:hover:before,
a:hover:after {
   height: 100%;
   width: 100%;
   opacity: 1;
}

a:hover:before {
   transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;
}

a:hover:after {
   transition: 0s ease opacity .4s, .2s ease height .4s, .2s ease width .6s;
}

a:hover {
   background: rgba(255, 255, 255, .2);
}

.password {
   margin: 20px auto;
   color: #06302E;
   background-color: rgba(255, 255, 255, .3);
   border-radius: 10px;
   border: 1px solid #fff;
   padding: 10px;
   width: 350px;
   height: 350px;
   line-height: 300px;
   font-size: 45px;
}

#copy {
   position: absolute;
   top: 1%;
   right: -5.5%;
   width: 100px;
   border-radius: 0px 10px 0px 0px;
   background: rgb(30, 149, 142);
   border: none;
   font-size: 20px;
   padding: 10px;
   color: #fff;
   box-shadow: 0 5px 0 #330B54;
}

#copy:hover {
   background: rgb(53, 192, 177);
}
